body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.container{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    /* text-align: center; */
    width: 900px;

    
}

#scriptOutput{
    /* background-color: #fff; */
    padding: 20px 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(226, 75, 75);
    width: 95%;
    align-items: center;
    justify-self: center;
}

textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

button{
    padding: 10px 20px;
    cursor:pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

button:hover{
    background-color: #78c693;
}


/* for displaing msg */
#status{
    margin-top: 15px;
    columns: green;
    color: red;
}